<div id="about-me">
    <h1 class="about-label">
        About Me
    </h1>
    <div id="picture-section">
        <div class="self-description">
            <p>
                Hello! My name's Luke. I'm currently a second-year computer science student at UCLA looking for an
                internship for the summer of 2022.
            </p>
            <p>
                My main area of experience so far is full stack web development, although I am definitely interested in
                branching out into other areas.
            </p>
            <p>
                Contact me below if you have any questions for me!
            </p>
        </div>
        <div>
            <div class="self-picture-container border-custom">
                <img id="my-picture" src="img/luke.jpg" />
            </div>
        </div>
    </div>
    <div id="skill-section">
        <h5>
            Here are some of the languages and technologies I'm most experienced with:
        </h5>
        <div class="skills-visual">
            <div>
                <h3>
                    C/C++:
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%; transition-duration: 1.5s;">75%</div>
                </div>
            </div>

            <div>
                <h3>
                    HTML/CSS/JS:
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%; transition-duration: 1.5s;">60%</div>
                </div>
            </div>
            <div>
                <h3>
                    SQL
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" id="progress_one"
                        role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%; transition-duration: 1.5s;"> 50% </div>
                </div>
            </div>
            <div>
                <h3>
                    Python
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                        style="width: 0%; transition-duration: 1.5s;"> 40% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-footer">
        <p>
            Some more things I'm comfortable working with:
        </p>
        <ul>
            <li>
                Languages: C/C++, JavaScript (ES6), TypeScript, SQL, Python
            </li>
            <li>
                Technologies: ReactJS, NodeJS, Git, Jekyll, MongoDB, HTML, CSS/Sass
            </li>
        </ul>
    </div>
</div>