<div id="contact-page">
    <h1>
        Contact Me
    </h1>

    <p>
        Want to get in contact with me? My inbox is always open for new opportunities!
    </p>

    <div class="contact-button">
        <p>
            Email me at <a class="underline">lukedalton221@gmail.com</a>
        </p>
        <button class="button-raise" type="button">
            Email 
        </button>
    </div>
    
    <p>
        Want to see some more of what I'm up to?
    </p>

    <div id="two-buttons">
        <button class="button-raise" type="button">
            Github 
        </button>
        <button class="button-raise" type="button">
            LinkedIn
        </button>
    </div>
</div>
