<div id="experience-section">
    <h1>
        Experience
    </h1>
        <div class="my-card">
            <h5 class="card-title">Full Stack Web Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">UCLA Social Sciences Computing</h6>
            <h6 class="card-subtitle mb-2 text-muted">May 2021 - Present</h6>
            <ul class="card-text">
                <li>
                    Developed features on and maintained a UCLA Social Sciences web app
                </li>
                <li>
                    Worked with PostgreSQL, NodeJS, and ReactJS
                </li>
            </ul>
            <p class="card-text">The website is available here: <a href="#" class="card-link">hatecrimemap.com</a> </p>
        </div>

    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">Learning Lab Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">ACM Teach LA (ACM @ UCLA)</h6>
            <h6 class="card-subtitle mb-2 text-muted">May 2021 - Present</h6>
            <p class="card-text">Alongside a small , worked with ReactJS to create a small web app designed
                to educate aspiring child programmers on Python.</p>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">Developer Team Member</h5>
            <h6 class="card-subtitle mb-2 text-muted">ACM Teach LA (ACM @ UCLA)</h6>
            <h6 class="card-subtitle mb-2 text-muted">January 2021 - Present</h6>
            <p class="card-text">Worked within a large team to maintain and update a static website</p>
        </div>
    </div>
</div>