<div id="experience-section">
    <h1>
        Experience
    </h1>

    <div >
        <p>
            Here are a few things I've been keeping busy with lately:
        </p>
        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Full Stack Web Developer</h5>
                    <h6>UCLA Social Sciences Computing</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>June 2021 - Present</h6>

                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible" class="toggle" type="checkbox">
                <label for="collapsible" class="lbl-toggle">More on what I did here:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <ul>
                            <li>
                                Developed features on and maintained a UCLA Social Sciences web app
                            </li>
                            <li>
                                Worked with PostgreSQL, NodeJS, and ReactJS
                            </li>
                        </ul>
                        <p>The website is available here: <a class="underline" href="#"
                                class="card-link">hatecrimemap.com</a> </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Learning Lab Developer</h5>
                    <h6>ACM Teach LA (ACM @ UCLA)</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>May 2021 - Present</h6>
                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible1" class="toggle" type="checkbox">
                <label for="collapsible1" class="lbl-toggle">More information:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <p class="card-text">Alongside a small team, worked with ReactJS to create a small web app
                            designed
                            to educate aspiring child programmers on Python.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Developer Team Member</h5>
                    <h6>ACM Teach LA (ACM @ UCLA)</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>January 2021 - Present</h6>
                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible2" class="toggle" type="checkbox">
                <label for="collapsible2" class="lbl-toggle">More on what I did here:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <p class="card-text">Worked within a large team to maintain and update a static website</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>