<div id="experience-section" class="page-section flex-center-descending">
    <h1>
        Experience
    </h1>

    <div>

        <p>
            I've just accepted an offer to join Google as a STEP intern for the summer of 2022! I'm ecstatic to have
            received this opportunity and thankful to all those who helped me work hard to receive it. I will add more
            about what I did when I start working.
        </p>

        <p>
            Here are a few things I've been keeping busy with lately:
        </p>
        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Full Stack Web Developer</h5>
                    <h6>UCLA Social Sciences Computing</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>June 2021 - Present</h6>
                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible" class="toggle" type="checkbox">
                <label for="collapsible" class="lbl-toggle">More on what I did here:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <p>
                            In this role, I mainly focused on developing a website that publicizes hate crime data, a
                            statistically underreported crime. I felt that the work I was doing was actually making a
                            difference and was glad I could help out.
                        </p>
                        <p>
                            <br />
                            <!-- spacing lazy no use css -->
                        </p>
                        <p>
                            On the more technical side of things, here's what I did:
                        </p>
                        <ul>
                            <li>
                                Expanded and maintained an interactive mapping website to display categorized hate crime
                                data on a
                                map for over 400 regions with React.js
                            </li>
                            <li> Fetched large datasets of over 2500 items from an AWS server using PostgreSQL, used
                                Node.js on the back
                                end to prepare this data to be displayed on the app
                            </li>
                            <li>Implemented a CI pipeline to continuously test and build the site and enforced linting
                                to keep styling consistent across
                                codebase
                            </li>
                        </ul>
                        <p>The website is available here: <a class="underline" href="#"
                                class="card-link">hatecrimemap.com</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Learning Lab Developer</h5>
                    <h6>ACM Teach LA (ACM @ UCLA)</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>May 2021 - Present</h6>
                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible1" class="toggle" type="checkbox">
                <label for="collapsible1" class="lbl-toggle">More on what I did here:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <ul>
                            <li>
                                Took part in a team of 6 in creating a React.js web app designed to educate aspiring
                                children about Python logic
                            </li>
                            <li>
                                Created a crucial navigation component to help simplify routing between different site
                                pages
                            </li>
                            <li>
                                The website is now used at multiple high schools across Los Angeles
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="experience-description">
                <div>
                    <h5>Developer Team Member</h5>
                    <h6>ACM Teach LA (ACM @ UCLA)</h6>
                </div>
                <div style='text-align: right;'>
                    <h6>January 2021 - Present</h6>
                </div>
            </div>
            <div class="wrap-collabsible">
                <input id="collapsible2" class="toggle" type="checkbox">
                <label for="collapsible2" class="lbl-toggle">More on what I did here:</label>
                <div class="collapsible-content">
                    <div class="content-inner">
                        <ul>
                            <li>
                                Participated in weekly meetings within a large developer team and proactively took on
                                code issues
                            </li>
                            <li> Built 2 new pages for the website and recategorized data to be displayed on the front
                                end of the website
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>