<nav id="navbar-example2" class="navbar px-3 fixed-top" style="backdrop-filter: blur(2px);">
    <a class="navbar-brand" href="#">Luke Dalton</a>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="#about-me">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience-section">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact-page">Contact Me</a>
        </li>
    </ul>
</nav>