.experience-card {
  display: grid;
  align-items: center;
  margin: 2em 0;
  width: 100%;
}

.experience-description {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.wrap-collabsible {
  margin: 0.1rem 0;
}

.lbl-toggle {
  display: block;
  font-size: 1.2rem;
  text-align: left;
  color: #ddd;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #d7ab6c;
}

.lbl-toggle::before {
  color: #d7ab6c;
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  padding: 0.5rem 1rem;
}

.collapsible-content p {
  margin-bottom: 0;
}

/* part of collapsible content css, including here */
input[type="checkbox"] {
  display: none;
}
