/* Style the navbar */
#navbar {
    overflow: hidden;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    backdrop-filter: blur(5px);
}

/* Navbar links */
#navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 1em;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
}

.navbar-links {
    justify-self: right;
    display: block;
    margin: 0 1em;
}

.nav-title {
    margin: 0.5em;
    align-self: left;
}

@media screen and (max-width: 600px) {
    .navbar-links {
        display: none;
    }
    #navbar {
        display: none;
    }
}